header {
   display: flex;
   justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    background: transparent;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 70px;
    
}
 ul {
    list-style: none;
    display: flex;
    gap: 200px;
}

ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: font-size 0.5s ease, color 0.5s ease,background-color 0.5s ease;
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 100px;
}

ul li a:hover {
    color: #ffffff;
    background: rgb(0, 125, 100);
    font-size: 1.7rem;
}
ul li a.active {
    color: #ffffff;
    background: rgb(0, 72, 58);
}



/* .logoheade
    max-width: 5%;
    margin-left: 50px;
}
.nav-menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 250px;
}

.nav-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-menu ul li a:hover {
    color: #c90000;
} */