@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  font-family: 'pridi', serif;
  margin: 0;
  padding: 0;
}

#Education {
    background-color: rgb(215, 224, 224);
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
  }
  .Edu-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
  }
  .Edu-detail{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  .Edu-detail h1{
    background: linear-gradient(to right, rgb(117, 0, 133), rgb(194, 0, 129));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    margin-top: 100px;
  }
  
  .place-container{
    display: flex;
    background: linear-gradient(to bottom , #0c0c0c, #28002c);
    flex-direction: row;
    width: 900px;
    padding: 20px;
    justify-content: flex-start;
    border-radius: 50px;
    margin-bottom: 50px;
    /* border: 5px solid rgb(133, 84, 189); */
    box-shadow: 0 4px 8px rgba(128, 0, 128, 0.5);
  }
  .place-logo{
    width: 15%;
  }

  .place-logo2{
    width: 10%;
    padding: 5px 20px; 
    background-color: white;
    border-radius: 100%;
  }
  .place-logo3{
    width: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 100%;
  }
 

  .place-text p, h2{
    margin: 8px;
    margin-left: 30px;
  }

  
  .text-year{
    color: #ee6bff;
    font-weight: 800;
  }
  .text-eduname{
    font-weight: 500;
    color: white;
  }
  .text-level{
    font-weight: 800;
    color: #b6b6b6;
  }
 

  .Edu-icon{
    font-size: 5rem;
    color: rgb(255, 0, 0);
  
    padding: 8px;
    background-color: rgb(9, 243, 185);
    border-radius: 50px;
    margin-right: 50px;
  }

  @media screen and (max-width: 1700px) {
    .Edu-container {
      width: auto;
      height: auto;
    }
    #Education{
      width: auto;
      height: auto;
    }
  }